# Eclipse
.settings/
.classpath
.project
bin/

# IntelliJ IDEA
.idea
*.iml

# VS Code
.vscode

# Maven
target/

# OS
.DS_Store

# Secrets
automatizacion/config/.env
automatizacion/config_inicial.json

# Python
__pycache__/
*.pyc
.pytest_cache/
