# Eclipse
.settings/
.classpath
.project
bin/

# IntelliJ IDEA
.idea
*.iml

# VS Code
.vscode

# Maven
target/

# OS
.DS_Store



__pycache__/
*.py[cod]
*$py.class

# Environment
.env

# Automatization
automatizacion/
.opencode/
.specify/
